html,
body {
  background-image: url("../public/img/fondo1.jpg") !important;
  /* background-color: #f0eedc !important; */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.lgdp-active-page {
  color:#f1c250 !important;
}

.lgdp-bg-primary-color {
  background-color: #f0eedc;
}

.lgdp-bg-color {
  background-color: #c91919;
}

.lgdp-btn-pedido {
  position: fixed;
  width: 170px;
  height: 50px;
  right: 5px;
  bottom: 5px;
  color: white;
  background-color: #00a783 ;
  border: 2px solid #ffffff ;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lgdp-btn-pedido:hover {
  background-color: #01795f ;
}

.lgdp-btn-pedido i {
  font-size: 25px;
  margin-right: 5px;
}

.lgdp-footer {
  background-color: #00637b;
  height: 100%;
  padding-top: 5px;
}

.lgdp-footer-icon {
  font-size: 25px;
  cursor: pointer;
}